[core]
  editor = nvim
  excludesfile = ~/.config/git/ignore
  hooksPath = ~/.config/git/hooks
[user]
  name = Jean Gonçalves
  email = jean.gnc@gmail.com
  signingkey = ~/.ssh/id_ed25519.pub
[gpg]
  format = ssh
[commit]
  gpgsign = true
[push]
	autoSetupRemote = true
