[core]
  excludesfile = ~/.gitignore_global
  editor = nvim
[user]
  name = Jean Gonçalves
  email = jean.gnc@gmail.com
  signingkey = ${GIT_SIGNING_KEY}
[gpg]
  format = ssh
[commit]
  gpgsign = true
